@model RPGSite.Models.Wiki.WikiEntry


@using (Ajax.BeginForm(Model.Title+"/Save",new AjaxOptions()
{
    HttpMethod = "Post",
    OnSuccess = "toggleButtons()"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.LabelFor(model => model.Title)
        <br/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new {@class = "form-control", @id = "wikiTextArea", @style = "display:none;"})
                @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
            </div>
            <div id="wikiTextDiv" class="col-md-10">
                Newer Text
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="wikiEdit" type="button" onclick="toggleButtons()"  value="Edit"/>
                <input id="wikiSubmit" type="submit" value="Save" class="btn btn-default" style="display: none;"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Start", "Index")
    @Scripts.Render("~/Scripts/TS Output/Wiki.js?version=2")
</div>
