@model RPGSite.Models.Wiki.WikiEntry


@using (Ajax.BeginForm(Model.Title+"/Save",new AjaxOptions()
{
    HttpMethod = "Post",
    OnSuccess = "toggleButtons()"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <b>@Html.DisplayFor(model => model.Title)</b>
        <br/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new {@class = "form-control", @id = "wikiTextArea", @style = "display:none;"})
                @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
            </div>
            <div id="wikiTextDiv" class="col-md-10">
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a id="wikiHelp" title="To create a new tooltip just write '[!text]' and a link to a new wiki entry named text will be created" style="cursor: pointer; display: none">Help</a>
                <input id="wikiEdit" type="button" onclick=" toggleButtons() " value="Edit"/>
                <input id="wikiSubmit" type="submit" value="Save" class="btn btn-default" style="display: none;"/>
            </div>
            <a id="wikiBack" href="#" onclick="back()">Back</a>
            <a href="#" onclick="update('/Wiki','@Model.Title')">Back to start</a>
        </div>
    </div>
}

<div>
    @Scripts.Render("~/Scripts/SiteScripts/Wiki.js")
</div>
